@import url(http://weloveiconfonts.com/api/?family=entypo);
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Lato";
  letter-spacing: 1px;
  color: #838383;
  background-color: #f7f5f2;
}

h1 {
  color: #bf5050;
}

section {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
}

.larg {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  padding: 15px;
}

.flap {
  width: 270px;
  padding: 15px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;

  & h1 {
    margin: 5px 0 0 0;
  }

  & .list span {
    color: #ecf0f1;
    display: block;
    line-height: 24px;
    margin: 5px 0;
    cursor: pointer;
    transition: all 0.6s;
    font-size: 20px;
    border-bottom: 1px solid #f8f8f8;
    line-height: 45px;

    &:hover {
      color: #bdc3c7;
    }
  }
  & p {
    color: #fff;
    font-style: italic;
  }
}

dl dt {
  cursor: pointer;
  line-height: 25px;
  margin: 12px auto;
  background-color: #eae6e1;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.6s;

  &:hover {
    color: #fbfbfb;
    background-color: #acacac;
  }
  &:active {
    background-color: #888;
  }
}

[class*="entypo-"] {
  font-family: "entypo", sans-serif;
  cursor: pointer;
  font-size: 25px;
  color: #f9f9f9;
  text-shadow: 1px 1px 1px #7a7a7a;
  opacity: 0.8;
}

.icons {
  height: 28px;
}
.entypo-cancel-circled {
  float: right;
}
.entypo-book-open {
  float: left;
}
.entypo-cancel-circled:hover,
.entypo-book-open:hover {
  opacity: 1;
}
